<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musala.groche.carsapp">

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_205"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_205_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity
            android:name=".views.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SettingsActivity">
        </activity>
        <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="${HOCKEYAPP_APP_ID}"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>